examples/flow.json
[
  { "id": "e063412830d2eed3", "type": "tab", "label": "Flow 1", "disabled": false, "info": "" },
  {
    "id": "08d504ea8e705f7d",
    "type": "authenticate",
    "z": "e063412830d2eed3",
    "name": "",
    "shopName": "yousolutionTest",
    "x": 320,
    "y": 320,
    "wires": [[], []]
  },
  {
    "id": "66b440dd9d7529cf",
    "type": "inject",
    "z": "e063412830d2eed3",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 320,
    "wires": [["08d504ea8e705f7d"]]
  },
  {
    "id": "0e94998253ba4bdd",
    "type": "list",
    "z": "e063412830d2eed3",
    "name": "",
    "object": "customer",
    "listParams": "params={};",
    "foreignKeys": "foreignKeys",
    "objectWithoutParams": [
      "accessScope",
      "balance",
      "carrierService",
      "currency",
      "discountCode",
      "giftCardAdjustment",
      "location",
      "orderRisk",
      "productResourceFeedback",
      "resourceFeedback",
      "storefrontAccessToken",
      "storefrontAccessToken"
    ],
    "objectWithForeignKeys": [
      { "name": "article", "params": ["blogId"] },
      { "name": "asset", "params": ["themeId"] },
      { "name": "customerAddress", "params": ["customerId"] },
      { "name": "discountCode", "params": ["priceRuleId"] },
      { "name": "fulfillment", "params": ["orderId"] },
      { "name": "giftCardAdjustment", "params": ["giftCardId"] },
      { "name": "orderRisk", "params": ["orderId"] },
      { "name": "productImage", "params": ["productId"] },
      { "name": "productResourceFeedback", "params": ["productId"] },
      { "name": "productVariant", "params": ["productId"] },
      { "name": "province", "params": ["countryId"] },
      { "name": "refund", "params": ["orderId"] },
      { "name": "transaction", "params": ["orderId"] },
      { "name": "usageCharge", "params": ["recurringApplicationChargeId"] }
    ],
    "x": 740,
    "y": 180,
    "wires": [["472dc7ad2c5e6474"], []]
  },
  {
    "id": "8df4d3cdd070446e",
    "type": "get",
    "z": "e063412830d2eed3",
    "name": "",
    "object": "customer",
    "objectId": "objectId",
    "getParams": "params={\n    fields: ['id', 'first_name', 'last_name', 'email']\n};",
    "foreignKeys": "foreignKeys",
    "objectWithoutParams": [
      "carrierService",
      "checkout",
      "collectionListing",
      "customerAddress",
      "discountCode",
      "discountCodeCreationJob",
      "dispute",
      "fulfillmentEvent",
      "fulfillmentOrder",
      "fulfillmentService",
      "giftCard",
      "giftCardAdjustment",
      "inventoryItem",
      "location",
      "marketingEvent",
      "orderRisk",
      "payment",
      "payout",
      "priceRule",
      "productListing",
      "user"
    ],
    "objectWithForeignKeys": [
      { "name": "article", "params": ["blogId"] },
      { "name": "asset", "params": ["themeId"] },
      { "name": "customerAddress", "params": ["customerId"] },
      { "name": "discountCode", "params": ["priceRuleId"] },
      { "name": "discountCodeCreationJob", "params": ["priceRuleId"] },
      { "name": "fulfillment", "params": ["orderId"] },
      { "name": "fulfillmentEvent", "params": ["orderId", "fulfillmentId"] },
      { "name": "giftCardAdjustment", "params": ["giftCardId"] },
      { "name": "orderRisk", "params": ["orderId"] },
      { "name": "payment", "params": ["checkoutToken"] },
      { "name": "productImage", "params": ["productId"] },
      { "name": "productListing", "params": ["productId"] },
      { "name": "productResourceFeedback", "params": ["productId"] },
      { "name": "productVariant", "params": ["productId"] },
      { "name": "province", "params": ["countryId"] },
      { "name": "refund", "params": ["orderId"] },
      { "name": "transaction", "params": ["orderId"] },
      { "name": "usageCharge", "params": ["recurringApplicationChargeId"] }
    ],
    "x": 740,
    "y": 240,
    "wires": [["472dc7ad2c5e6474"], []]
  },
  {
    "id": "cb5a7d9abc9b31d1",
    "type": "create",
    "z": "e063412830d2eed3",
    "name": "",
    "object": "customer",
    "createParams": "createParams",
    "foreignKeys": "foreignKeys",
    "objectWithForeignKeys": [
      { "name": "article", "params": ["blogId"] },
      { "name": "asset", "params": ["themeId"] },
      { "name": "cancellationRequest", "params": ["fulfillmentOrderId"] },
      { "name": "customerAddress", "params": ["customerId"] },
      { "name": "discountCode", "params": ["priceRuleId"] },
      { "name": "discountCodeCreationJob", "params": ["priceRuleId"] },
      { "name": "fulfillment", "params": ["orderId"] },
      { "name": "fulfillmentEvent", "params": ["orderId", "fulfillmentId"] },
      { "name": "fulfillmentRequest", "params": ["fulfillmentOrderId"] },
      { "name": "giftCardAdjustment", "params": ["giftCardId"] },
      { "name": "orderRisk", "params": ["orderId"] },
      { "name": "payment", "params": ["checkoutToken"] },
      { "name": "productImage", "params": ["productId"] },
      { "name": "productListing", "params": ["productId"] },
      { "name": "productResourceFeedback", "params": ["productId"] },
      { "name": "productVariant", "params": ["productId"] },
      { "name": "refund", "params": ["orderId"] },
      { "name": "transaction", "params": ["orderId"] },
      { "name": "usageCharge", "params": ["recurringApplicationChargeId"] }
    ],
    "x": 740,
    "y": 400,
    "wires": [["472dc7ad2c5e6474"], []]
  },
  {
    "id": "cf6d6a8cbce85da0",
    "type": "delete",
    "z": "e063412830d2eed3",
    "objectId": "objectId",
    "deleteParams": "deleteParams",
    "objectWithoutId": ["apiPermission", "inventoryLevel"],
    "objectWithoutParams": [
      "apiPermission",
      "article",
      "blog",
      "carrierService",
      "collect",
      "country",
      "customCollection",
      "customer",
      "customerAddress",
      "customerSavedSearch",
      "discountCode",
      "draftOrder",
      "fulfillmentEvent",
      "fulfillmentService",
      "marketingEvent",
      "metafield",
      "order",
      "orderRisk",
      "page",
      "priceRule",
      "product",
      "productImage",
      "productListing",
      "productVariant",
      "recurringApplicationCharge",
      "redirect",
      "report",
      "scriptTag",
      "smartCollection",
      "storefrontAccessToken",
      "theme",
      "webhook"
    ],
    "objectWithForeignKeys": [
      { "name": "article", "params": ["blogId"] },
      { "name": "asset", "params": ["themeId"] },
      { "name": "customerAddress", "params": ["customerId"] },
      { "name": "discountCode", "params": ["priceRuleId"] },
      { "name": "discountCodeCreationJob", "params": ["priceRuleId"] },
      { "name": "fulfillmentEvent", "params": ["orderId", "fulfillmentId"] },
      { "name": "orderRisk", "params": ["orderId"] },
      { "name": "productImage", "params": ["productId"] },
      { "name": "productListing", "params": ["productId"] },
      { "name": "productVariant", "params": ["productId"] }
    ],
    "x": 730,
    "y": 580,
    "wires": [["472dc7ad2c5e6474"], []]
  },
  {
    "id": "d3981a1d0d6c3d55",
    "type": "update",
    "z": "e063412830d2eed3",
    "objectId": "objectId",
    "updateParams": "updateParams",
    "objectWithForeignKeys": [
      { "name": "article", "params": ["blogId"] },
      { "name": "asset", "params": ["themeId"] },
      { "name": "customerAddress", "params": ["customerId"] },
      { "name": "discountCode", "params": ["priceRuleId"] },
      { "name": "fulfillment", "params": ["orderId"] },
      { "name": "fulfillmentEvent", "params": ["orderId", "fulfillmentId"] },
      { "name": "orderRisk", "params": ["orderId"] },
      { "name": "productImage", "params": ["productId"] },
      { "name": "productResourceFeedback", "params": ["productId"] },
      { "name": "province", "params": ["countryId"] }
    ],
    "x": 740,
    "y": 460,
    "wires": [["472dc7ad2c5e6474"], []]
  },
  {
    "id": "a7c0d04714e86498",
    "type": "count",
    "z": "e063412830d2eed3",
    "name": "",
    "countParams": "params={};",
    "foreignKeys": "foreignKeys",
    "objectWithoutParams": [
      "accessScope",
      "balance",
      "carrierService",
      "currency",
      "discountCode",
      "giftCardAdjustment",
      "location",
      "orderRisk",
      "productResourceFeedback",
      "resourceFeedback",
      "storefrontAccessToken",
      "storefrontAccessToken"
    ],
    "objectWithForeignKeys": [
      { "name": "article", "params": ["blogId"] },
      { "name": "asset", "params": ["themeId"] },
      { "name": "customerAddress", "params": ["customerId"] },
      { "name": "discountCode", "params": ["priceRuleId"] },
      { "name": "fulfillment", "params": ["orderId"] },
      { "name": "giftCardAdjustment", "params": ["giftCardId"] },
      { "name": "orderRisk", "params": ["orderId"] },
      { "name": "productImage", "params": ["productId"] },
      { "name": "productResourceFeedback", "params": ["productId"] },
      { "name": "productVariant", "params": ["productId"] },
      { "name": "province", "params": ["countryId"] },
      { "name": "refund", "params": ["orderId"] },
      { "name": "transaction", "params": ["orderId"] },
      { "name": "usageCharge", "params": ["recurringApplicationChargeId"] }
    ],
    "x": 730,
    "y": 520,
    "wires": [["472dc7ad2c5e6474"], []]
  },
  {
    "id": "472dc7ad2c5e6474",
    "type": "debug",
    "z": "e063412830d2eed3",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1140,
    "y": 360,
    "wires": []
  },
  {
    "id": "bb9cd1f5088df561",
    "type": "function",
    "z": "e063412830d2eed3",
    "name": "objectId",
    "func": "msg.objectId = 5656376410309;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 240,
    "wires": [["8df4d3cdd070446e"]]
  },
  {
    "id": "fb128379fd6eee44",
    "type": "list",
    "z": "e063412830d2eed3",
    "name": "",
    "object": "customerAddress",
    "listParams": "params={};",
    "foreignKeys": "foreignKeys",
    "objectWithoutParams": [
      "accessScope",
      "balance",
      "carrierService",
      "currency",
      "discountCode",
      "giftCardAdjustment",
      "location",
      "orderRisk",
      "productResourceFeedback",
      "resourceFeedback",
      "storefrontAccessToken",
      "storefrontAccessToken"
    ],
    "objectWithForeignKeys": [
      { "name": "article", "params": ["blogId"] },
      { "name": "asset", "params": ["themeId"] },
      { "name": "customerAddress", "params": ["customerId"] },
      { "name": "discountCode", "params": ["priceRuleId"] },
      { "name": "fulfillment", "params": ["orderId"] },
      { "name": "giftCardAdjustment", "params": ["giftCardId"] },
      { "name": "orderRisk", "params": ["orderId"] },
      { "name": "productImage", "params": ["productId"] },
      { "name": "productResourceFeedback", "params": ["productId"] },
      { "name": "productVariant", "params": ["productId"] },
      { "name": "province", "params": ["countryId"] },
      { "name": "refund", "params": ["orderId"] },
      { "name": "transaction", "params": ["orderId"] },
      { "name": "usageCharge", "params": ["recurringApplicationChargeId"] }
    ],
    "x": 770,
    "y": 300,
    "wires": [["472dc7ad2c5e6474"], []]
  },
  {
    "id": "95b4081f2a003a1d",
    "type": "function",
    "z": "e063412830d2eed3",
    "name": "foreignKeys",
    "func": "msg.foreignKeys = [5656376410309];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 570,
    "y": 300,
    "wires": [["fb128379fd6eee44"]]
  },
  {
    "id": "76890e6f3d282763",
    "type": "function",
    "z": "e063412830d2eed3",
    "name": "createParams",
    "func": "msg.createParams = \n   { email: 'aarongong@ymail.com.au',\n     first_name: 'Aaron',\n     last_name: 'Gong',\n     tags: [ 8894287 ] };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 400,
    "wires": [["cb5a7d9abc9b31d1"]]
  }
]
